# WinServer-Toolkit CODEOWNERS
*                                 @Swartdraak
/archetypes/                      @Swartdraak
/config/                          @Swartdraak
/scripts/entrypoints/             @Swartdraak
/lib/                             @Swartdraak
/tests/                           @Swartdraak
/.github/                         @Swartdraak